:root{
    --primary-text-color: #252b42;
    --secondary-text-color: #737373;
    --primary-white-color: #ffffff;
    --accent-text-color: #0d5c63;
}

/*Zero*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    }

a {
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-family: Montserrat;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

._container{
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

/*-------------------header-----------------------------*/

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header-container{
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header-container {
        min-height: 70px;
    }
}

.header-logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;

}

.header-menu {
    margin: 0px 0px 0px 133px
}

@media (max-width: 992px){
    .header-menu{
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header-menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header-menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu{
    padding: 5px 0;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;

}

.menu-item:not(:last-child){
    margin: 0px 21px 0px 0px;

}

.menu-link{
    color: var(--secondary-text-color);
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

@media (max-width: 479px) {
    .menu-link {
        font-size: 18px;
    }
}