:root{
    --bcgcolor: #fafafa;
    --primary-text-color: #252b42;
    --secondary-text-color: #737373;
    --primary-white-color: #ffffff;
    --primary-accent-color: #0d5c63;
    --secondary-accent-color: #ff7b47;
}

/*Zero*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    }

a {
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-family: Montserrat;
    letter-spacing: 0.2px;
    background-color: var(--bcgcolor);

}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container{
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*-------------------HEADER-----------------------------*/

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header-container{
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header-container {
        min-height: 70px;
    }
}

.header-logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;

}

.header-menu {
    margin: 0px 0px 0px 133px
}

@media (max-width: 992px){
    .header-menu{
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header-menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header-menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu{
    padding: 5px 0;
}

.menu-list{
    flex-wrap: wrap;
    display: flex;
}

.menu-item:not(:last-child){
    margin: 0px 21px 0px 0px;

}

.menu-link{
    color: var(--secondary-text-color);
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

@media (max-width: 479px) {
    .menu-link {
        font-size: 18px;
    }
}

/*-------------------HEADER BLOCK-----------------------------*/

.header-block {
    text-align: center;
    
    
}

.header-block__title {
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    font-weight: 700;
}

.header-block__title:not(:last-child){
    margin: 0px 0px 10px 0px;;
}

.header-block__sub-title {
    color: var(--secondary-text-color);
    line-height: calc(20 / 14 * 100%);
}

@media (max-width: 479px) {
    .header-block__title {
        font-size: 18px;
    }
}


/*-------------------PAGES-----------------------------*/

.page{
    flex: 1 1 auto;
}
.page-main-block{
}

.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}

.page__advantages {}

/*-------------------MAIN BLOCK-----------------------------*/

.main-block{
    position: relative;
    
}
.main-block-container{

}
.main-block-body{
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 992px) {
    .menu-link {
        padding: 120px 0px 191px 0px;
    }
}

.main-block-body > *:not(:last-child){
    margin: 0px 0px 35px 0px;

}

.main-block-title{
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
}

@media (max-width: 479px) {
    .menu-link {
        font-size: 24px;
    }
}

.main-block-text{
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);

}
.main-block-buttons{
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0px;
}

.main-block-button{
    background: transparent;
    border: 3px solid var(--primary-accent-color);
    color: var(--primary-accent-color);
    border-radius: 37px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(28 / 14 * 100%);
    padding: 5px 36px;
    margin: 10px 0px;
}

@media (max-width: 479px) {
    .main-block-button {
        flex: 1 1 100%;
    }
}

@media (max-width: 479px) {
    .main-block-button:not(:last-child){
        margin-right: 10px;
    }
}

.main-block-button:not(:last-child) {
    margin-right: 10px;
    /* margin: 0px 10px 0px 0px; */
}

.main-block-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block-image img{
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block-image {
        opacity: 0.5;
    }
}

/*-------------------SERVICES-----------------------------*/

.services {}

.services__container {}

.services__body {}

@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px;
    }
}

.services__column {
    flex: 0 1 33.333%;
}

@media (min-width: 670px) {
    .services__column {
        padding: 0px 15px;
    }
}

@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }

    .services__column:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }

    .services__column:last-child {
        flex: 1 1 100%;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: var(--primary-white-color);
    padding: 35px;
}

@media (max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}

.item-service {}


.item-service_green .item-service__title {
    color: var(--primary-white-color);
}

.item-service_green .item-service__text {
    color: var(--primary-white-color);
}

.item-service>*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.item-service__icon {}

.item-service__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}

.item-service__text {
    color: var(--secondary-text-color);
    line-height: 142%;
}

/*-------------------ADVENTAGES-----------------------------*/

.advantages {
    padding: 80px 0;
}

@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 30px 0;
    }
}

.advantages__container {}


.advantages__header {
    margin: 0px 0px 50px 0px;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}

.advantages__column {
    padding: 0px 15px;
    flex: 0 1 25%;
    margin: 0px 0px 30px 0px;
}

@media (max-width: 1000px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 30px;
    text-align: center;
}

.advantages__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__value {
    font-size: 40px;
    font-weight: 700;
    line-height: calc(57 / 40 * 100%);
}

.advantages__text {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: calc(24 / 16 * 100%);

}












/*-------------------FOOTER-----------------------------*/